h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue';
    font-weight: 800;
}

body{
    font-family:  'Titillium Web', sans-serif;
    text-align: center;
    background-color:black;
    color: white;
}

html{
    scroll-behavior:smooth;
}

p{
    font-weight: 600;
    font-size: 1.2rem;
}

.heading{
    font-size: 5.5rem;
    margin: 0 5rem 0 0;
    }
    
.left-div{
    margin: 12rem 0 0 5rem;
    text-align: left;
}

.page-div{
    margin: 5rem  5rem;
}
.end-div{
padding: 0rem 2rem 5rem 2rem;}
/* Navigation Bar */

.navbar-brand{
    width: 8rem;
    margin: 3rem 3rem;
}

.nav-item{
    margin-right: 1rem;
    font-size: 0.8rem;
}

.nav-line{
    border-style: none solid none none;
    border-width: 1px;
    line-height: 1px;
    margin-left: 2rem;
    color: white;
    display: inline;
}

.nav-icon{
    margin-left: 0;
    margin-right: 0;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{ 
    color: #FF6700;
}

/* Set the border color */

.custom-toggler.navbar-toggler {
border-color:none;
border:none;}
    
/* Setting the stroke to green using rgb values (0, 128, 0) */
/*     
.custom-toggler 
.navbar-toggler-icon {
background-image: 
url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(91, 67, 242, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */


/* TITLE */

#title img{
    width: 40rem;
}
#title .header-div{
    text-align: left;
}

.blurred-edge{
        background-image: url('../images/Yolanda Ohene.jpg');
        width: 50%;
        height: 90%;
        background-repeat: no-repeat;
        background-size:contain;
        /* you need to match the shadow color to your background or image border for the desired effect*/
        box-shadow: 16px 16px 16px 16px black inset;
        position: absolute;
        top: 30%;
        left: 50px;
        z-index: -10;
}

#title p{
    margin: 0 5rem 0 0;
}

hr{
    width: 10rem;
    height: 0.4rem;
    margin: 1.5rem auto 3rem 0;
    background-color: #FF6700;
}


/* About Us */

#about{
    background-image: url('../images/earth.jpg');
    background-size: cover;
}

#about .left-div{
    margin-right: 60%;
    padding-bottom: 10rem;
}

#about p{
    padding:0 0 2rem 0;
    margin-top: 0;
}

#about .button{
    font-size: 1.25rem;
    color:gray;
    background-color: rgba(0,0,0,0.05);
    padding: 0 0;
    border: none;
}

.button:hover{
    color: #FF6700;
}

#readmore{
    display: none;
}

#LessBtn{
    display: none;
}

/* Meet The Team */

.device-box{
    background-image: url('../images/TBLF_Graphic\ Device_RGB.png');
    background-size: cover;
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute; /* or absolute */
    top: 90rem;
    right:0;

}

.device{
    overflow: hidden;
}

.device-box-mid{
    top: 130rem;
    left:0;
    width: 16%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.device-box-low{
    top: 200rem;
    right:0;
    width: 12%;
}

#meet-the-team{
    margin-bottom: 5rem;
}

#meet-the-team .left-div{
    margin: 0 0  0 5rem;
}

#meet-the-team .row{
    margin-top: 10rem;
}
.team-img{
    width: 12rem;
    height: 12rem;
    max-width: 20rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: solid white 6px;
}

.name{    
    font-size: 3rem;
    font-weight: 800;
}

.role{
    font-size: 1rem;
    font-weight: 300;
}

/* Mission */



#mission .mission-div{
    padding: 0 5rem 0 7rem;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
}

#mission .mission-card{
    margin: 5rem 0;
    white-space: normal;
    vertical-align: middle;

}

#mission .mission-icon  {
float: left;    
max-width:50%;
max-height:50%;
width: 6rem;
margin: 0 2rem 0 0;
}

.icon{
    padding: 2.5rem 2rem;
    width: 8rem;
}

.represent{
    padding: 2rem 0 0 0;
}

#mission p{
font-size: 1rem;
font-weight: 400;
}
#mission .mission-title{
    font-family: 'Bebas Neue';
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}


#mission h3{
    text-align: left;
    margin-left: 5rem;
}

#mission .page-div{
    margin-top: 2rem;
}
/* Gallery */

#gallery{
    background-color: white;
    color: black;
}

#gallery .gallery-div{
    padding: 8em 5rem 0 5rem;
    }

.speech-icon{
    width: 2rem;
}

#gallery h1{
    text-align: left;
}

.carousel-inner .container-fluid{
    padding: 2rem 2rem;
}

#gallery .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    margin-right: 8rem;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    margin-left: 8rem;
}

#gallery .media-box{
padding: 5rem 5rem;
}

 /* CTA */

 #cta h4{
     padding: 5rem 5rem 0rem 5rem;
 }
 #cta .outer{
    width: 100%;
 }
 #cta .cta-div{
     background-color: rgb(41, 41, 41);
     height: 400px;
     bottom: 50rem;
     overflow: hidden;
     margin: 0 auto;
     width: 1000px;
 }

 .device-box-cta{
    top: 250rem;
    left:0;
    width: 16%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Footer */

#footer{
    margin: 4rem 0rem;
}

#footer .footer-icon{
    margin: 2rem 1rem;
    color: white;
}

#footer .footer-icon:hover{
    color: #FF6700;
}

#footer p{
    font-size: .6rem;
}