/* Base styling */
h1, h2, h3{
    font-family: 'Bebas Neue';
}

body{
    font-family:  'Titillium Web', sans-serif;
    text-align: center;
    background-color:black;
    color: white;
    padding-top: 10%; /* For the sticky navbar */
}

html{
    scroll-behavior:smooth;
}

h4, h5, h6, p{
    font-weight: 600;
    font-size: 1.2rem;

}

.maintext{
    font-size: 1.6rem;
    padding-bottom: 1.3rem;
}


/* Layout styling */

.heading{
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0 5rem 0 0;  /* for the horizontal line underneath */
    }
    
.shell{
    margin: 8rem 5rem;
    text-align: left;
    padding: 2rem 0;
}

.device-box{
    background-image: url('../images/graphic_device.png');
    background-size: cover;
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute; /* or absolute */
    top: 90rem;
    right:0;

}

.device{
    overflow: hidden;
}

.device-box-mid{
    top: 130rem;
    left:0;
    width: 16%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.device-box-low{
    top: 200rem;
    right:0;
    width: 12%;
}

.device-box-cta{
    top: 250rem;
    left:0;
    width: 16%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* State styling */

.subtext{
    font-weight: 400;
}

.heading-div{
    margin: 8rem auto 0 0;
    text-align: left;}
    
.center-div{
    text-align: center;}
     

.hyperlink{
    color: gray;

}

.hyperlink:hover{
    color: #FF6700;
}

/* Navigation Bar */

.navbar {
    overflow: hidden;
    background-color: rgba(0,0,0,.1);
    z-index: 1000000;
    margin-right: 2rem;
  }
  
  /* Navbar links
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  } */
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.navbar-brand{
    width: 8rem;
    margin: 0 0 0 3rem;
    padding: 3rem 0;
}

.nav-item{
    margin-right: 1rem;
    font-size: 0.8rem;
}

.nav-line{
    border-style: none solid none none;
    border-width: 1px;
    line-height: 1px;
    margin-left: 2rem;
    color: white;
    display: inline;
}

.nav-icon{
    margin-left: 0;
    margin-right: 0;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover{ 
    color: #FF6700;
}

/* Removes the border around burger icon  */
.custom-toggler.navbar-toggler {
border-color:none;
border:none;}
    
/* Setting the stroke to green using rgb values (0, 128, 0) */
    
/* .custom-toggler 
.navbar-toggler-icon {
background-image: 
url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(91, 67, 242, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */


/* Title */

.header .heading-div{
    margin: 8% 2rem 0rem auto;

}
.header-image{
        background-image: url('../images/header.jpg');
        width: 50%;
        height: 80%;
        background-repeat: no-repeat;
        background-size:cover;
        /* you need to match the shadow color to your background or image border for the desired effect*/
        box-shadow: 16px 16px 16px 16px black inset;
        position: absolute;
        top: 30%;
        left: 50px;
        z-index: -10;
}

.heading-div p{
    margin-bottom: 1rem;}

hr{
    width: 10rem;
    height: 0.4rem;
    margin: 1.5rem auto 3rem 0;
    background-color: #FF6700;
}

/* About Us */

.about{
    background-image: url('../images/earth.jpg');
    background-size: cover;
}

.about .inner-div{
    margin: 0 50% 0 auto;
}

.about p{
    padding:0 0 2rem 0;
    margin-top: 0;
}

.about .button{
    font-size: 1.25rem;
    color:gray;
    background-color: rgba(0,0,0,0.05);
    padding: 0 0;
    border: none;
}

.button:hover{
    color: #FF6700;
}

#ReadMore{
    display: none;
}

#LessBtn{
    display: none;
}

/* Meet The Team */

.meet-the-team .heading-div{
margin-top: 0;}

.float-div{
    float: right;
    text-align: left;
}

.name{    
    font-size: 2rem;
    font-weight: 800;
    margin:  5rem 2rem 0 0 ;
    padding: 0 0 0 1rem;
}

.role{
    font-weight: 400;
    margin: 0  2rem 0 0;
    padding: 0 0 0 1rem;

}

/* Mission */

.mission-div{
    padding: 0 0 0 7rem;
    margin-bottom: 5rem;
    display: inline-block;
    white-space: nowrap;
}

.mission-card{
    margin: 5rem 0;
    white-space: normal;
    vertical-align: middle;
}

.mission-icon  {
float: left;    
max-width:50%;
max-height:50%;
width: 6rem;
margin: 0 2rem 0 0;
}

.obj-icon{
    padding: 2.5rem 2rem;
    width: 8rem;
}

.represent{
    padding: 2rem 0 0 0;
}

.mission .heading-div h3{
    font-family: Titillium Web;
}

.mission-title{
    font-weight: 800;
    margin-bottom: 0;
}

.mission-text {
font-weight: 400;
} 


/* Gallery */

.gallery{
    background-color: white;
    color: black;
}

.gallery-div{
    padding: 8em 5rem 0 5rem;
    }

.speech-icon{
    width: 1rem;
}

.speech-icon-flip{
    transform: scaleX(-1);
}

.testimonial-text{
    font-family: Titillium Web;
    font-weight: 600;
    font-size: 1.6rem;
}

.carousel-inner .container-fluid{
    padding: 2rem 2rem;
}

.carousel-indicators li{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }


ol.carousel-indicators{
    margin-bottom: 0;
}

.carousel-item em{
    font-weight: 100;
    color: gray;
}

.carousel-indicators .active{
    background-color: #FF6700;
}

.curator-box{
padding: 5rem 5rem;
}

.find-us{
    padding: 5rem 0;
}

.find-us h3{
    font-weight: 400;
}
 /* CTA */

.cta-div .heading{
     padding: 4rem 0 ;
     font-size: 2rem;
    margin: 0 0; }

 .cta-outer{
    width: 100%;
 }

.cta-div{
     background-color: rgb(41, 41, 41);
     height: 550px;
     bottom: 10rem;
     overflow: hidden;
     margin: 0 auto;
     width: 80%;
     z-index: 100;
     position: relative;
 }

.cta-div .inner{
     padding: 0 4rem;
 }

.white-border-round{
    border: 0.8px solid;
    border-radius: 10px;
    border-color: white;
    width: 80px;
    height: auto;
    padding: 0.5rem 0rem;
    margin: 2rem auto 0 auto;
    position: relative;   
}

/* Footer */

.footer{
    color: white;
    padding: 0 0;
}

.white-border-round a{
    color: white;
}

.white-border-round a:hover{
    color: #FF6700;
}

.footer-icon{
    margin: 2rem 1rem;
    color: white;
}

.footer-icon:hover{
    color: #FF6700;
}

.footer p{
    font-size: 0.5rem;
}

/* Join Us Page */

.shell.form{
    width: 50%;
    margin-bottom: 0rem;
    padding-bottom: 0;
}

.form-group .paragraph{
margin-bottom: 3rem;
}

.form-group .subparagraph{
font-weight: 400;    
font-size: 1rem;}

.form a{
    margin: 0 0.5rem;
    color: white;
}

.form a:hover{
    color: #FF6700;
}

/* Responsiveness */